body
{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}
a
{
color: aliceblue;
text-decoration: none;

}
li
{
    display: block;
    margin: 0px;
    padding: 10px;
    border-left: 5px solid white;
    text-transform: uppercase;
    letter-spacing: 2px;

}
/* hi */
.c
{
    color:rgb(255, 255, 255);
    text-align: center;
}
.p
{
    color: rgb(255, 255, 255);
    text-align: center;
    background-image: url("");
    margin: auto;
    padding: auto;
}
.f
{
size: 3ch;
}

.main
{
background-color: rgb(6,57,112);
color: rgb(255, 255, 255);
}



.logo
{
    display: block;
    border: 1px solid black ;
    border-radius: 100px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
}
