body
{
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', 'Geneva', Verdana, sans-serif;
}
a
{
color: aliceblue;
text-decoration: none;

}
nav{
    background-color:rgb(6,57,112) ;
    position: sticky;
    top : 0
    
}
li
{
    display: block;
    margin: 0px;
    padding: 10px;
    border-left: 2px solid white;
    text-transform: uppercase;
    letter-spacing: 2px;
    clear: both;
    
}
h1, h2{
    border-left: 5px solid white ;
    padding: 5px;
    margin-left: 40px;
}
p{
    padding: 5px;
    margin-left: 40px;
    max-width: 1100px;
    text-transform: capitalize;
}
/* hi */
.c
{
    color:rgb(255, 255, 255);
    text-align: center;
}
    

.main
{
background-color: rgb(6,57,112);
color: rgb(255, 255, 255);
min-height: 5000px;
}



.logo
{
    display: block;
    border: 1px solid black ;
    border-radius: 100px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
   
}
.ss{
    border-bottom: 2px solid white;
}