body
{
    font-family: 'Open Sans', sans-serif;
        font-size: 20px;
    

}
a
{
color: #000205;
text-decoration: none;

}
nav{
    background-color:white(6,57,112) ;
    position: relative;
    top : 0;
    right: 25px;
    display: inline;
    text-align: center;

    
}
li
{
    padding: 10px 35px 10px 35px ;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    transition-duration: 0.4s;
    list-style: none;
    display: flex;
    flex-direction: row;
    display: inline;
    flex-grow: 1;

  
    
    
}
/* .ss{
    border-right: 1px solid #000205;
    border-left: 1px solid #000205;

}
.ss2{
    border-right: 1px solid #000205;
    border-left: 1px solid #000205;
} */
h1, h2{ 
    padding: 5px;
    margin-left: 40px;
    box-shadow: inset 1px 0px 0px 0px #000205;

}
p{
    padding: 5px;
    margin-left: 15px;
    max-width: 1100px;
    text-transform: capitalize;
}
/* hi */
.c
{
    color:rgb(255, 255, 255);
    text-align: center;
}
    

.main
{
background-color: FAFCFF ;
color: #000205;
min-height: 5000px;
}



.logo
{
    display: block;
    border-radius: 100px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
   
}

.f {
    text-align: center;

}
/* .quran{
    
    
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px;
    max-width: 250px;
    z-index: 2;
    background-color: rgb(6,57,112) ;
    border-radius: 10px;
} */
.links{
    display: flex-box;
    flex-direction: row;
    flex-grow: 1;
    text-align: center;

}
.ContectsLinksW{

    padding-left: 35px;
    padding-right: 35px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 3px 0px #000205;
    transition-duration: 0.4s;
    display: inline-block;
    text-align: center;
    margin-left: 20px;




}
.ContectsLinksG{

    padding-left: 35px;
    padding-right: 35px;
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 60px;
    box-shadow: inset 0px 0px 3px 0px #000205;
    transition-duration: 0.4s;
    display: inline-block;
    text-align: center;
    margin-right: 40px;
 


}
.ContectsLinksG:hover{
    background-color : gray;
    box-shadow: inset 0px 0px 3px 0px #000205;
    letter-spacing: 5px;   
    padding-left: 40px;
    padding-right: 40px;
}
.ContectsLinksW:hover{
    background-color : gray;
    box-shadow: inset 0px 0px 3px 0px #000205;
    letter-spacing: 5px;   
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 7px;
    padding-bottom: 7px;
}

li:hover{
    letter-spacing: 10px;
    box-shadow: inset 0px 0px 0px 1px black;    
    text-align: center;
}