body
{
    font-family: 'Open Sans', sans-serif;
        font-size: 20px;
    

}
a
{
color: #000205;
text-decoration: none;

}
nav{
    background-color:white(6,57,112) ;
    position: relative;
    top : 0;
    right: 25px;
    display: inline;

    
}
li
{
    display: block;
    padding: 10px;
    border-left: 1px solid #000205;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: left;
    transition-duration: 0.4s;
    
  
    
    
}
h1, h2{
    border-left: 2px solid #000205 ;
    padding: 5px;
    margin-left: 40px;

}
p{
    padding: 5px;
    margin-left: 15px;
    max-width: 1100px;
    text-transform: capitalize;
}
/* hi */
.c
{
    color:rgb(255, 255, 255);
    text-align: center;
}
    

.main
{
background-color: FAFCFF ;
color: #000205;
min-height: 5000px;
}



.logo
{
    display: block;
    border-radius: 100px;
    width: 200px;
    margin-left: auto;
    margin-right: auto;
   
}
/* .ss{
    border-bottom: 1px solid #000205;
} */
.f {
    margin-left: 15px;
}
/* .quran{
    
    
    position: absolute;
    right: 0px;
    top: 0px;
    padding: 5px;
    max-width: 250px;
    z-index: 2;
    background-color: rgb(6,57,112) ;
    border-radius: 10px;
} */
.ContectsLinksW{
    font-weight: 500;


}
.ContectsLinksG{
font-weight: 500;
}



li:hover{
    padding-left: 35px;
    letter-spacing: 10px;
    
}

 li {
    position: relative;
    width: fit-content;
     }
 
 li:after {
   content: '';
   position: absolute;
   width: 100%;
   transform: scaleX(0);
   height: 2px;
   bottom: 0;
   left: 0;
   background: linear-gradient(to right, white,black 80% );
   transform-origin: bottom right;
   transition: transform 0.50s ease-out;
 }
 
 li:hover:after {
   transform: scaleX(1);
   transform-origin: bottom left;}